HeapDict==1.0.1
PyYAML==6.0.3
Pygments==2.19.2
QtPy==2.2.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
awkward==1.10.5
awkward0==0.15.5
boost-histogram==1.6.1
cachetools==6.2.0
click==8.1.8
cloudpickle==2.1.0
coffea==0.7.22
coloredlogs==15.0.1
comet_ml==3.53.2
contourpy==1.3.0
correctionlib==2.7.0
cycler==0.12.1
dask==2022.8.1
dask-jobqueue==0.7.4
distributed==2022.8.1
flatbuffers==25.9.23
fonttools==4.60.1
fsspec==2022.7.1
hist==2.9.0
histoprint==2.6.0
humanfriendly==10.0
importlib_resources==6.5.2
jupyter==1.0.0
kiwisolver==1.4.7
llvmlite==0.42.0
locket==1.0.0
lz4==4.4.4
markdown-it-py==3.0.0
matplotlib==3.7.1
mdurl==0.1.2
ml_dtypes==0.5.3
mplhep==0.4.1
mplhep_data==0.0.4
numba==0.59.1
numpy==1.23.5
omegaconf==2.3.0
onnx==1.19.0
onnxruntime==1.19.2
ordered-set==4.1.0
packaging==25.0
pandas==2.3.3
partd==1.3.0
pillow==11.3.0
pip==24.2
protobuf==6.32.1
pyaml==21.10.1
pyarrow==9.0.0
pydantic==2.11.10
pydantic_core==2.33.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
qtconsole==5.3.1
rich==14.1.0
six==1.17.0
sortedcontainers==2.4.0
spox==0.16.0
tblib==1.7.0
toml==0.10.2
toolz==0.12.0
tqdm==4.64.0
typing-inspection==0.4.2
tzdata==2025.2
uhi==1.0.0
uproot==4.3.7
uproot3==3.14.4
uproot3-methods==0.10.1
widgetsnbextension==3.6.1
xgboost==1.4.2
zict==2.2.0
zipp==3.23.0
# HEPPlotter (utils_configs.plot.HEPPlotter): used by every plotting script.
# See the "Plotting with HEPPlotter" section of the README to update it.
configs @ git+https://github.com/matteomalucchi/AnalysisConfigs.git
